.whiteCar {
  animation: movingWhiteCar 130s linear infinite;
  animation-delay: 20s;
  transform: translateY(-10px);
}

@keyframes movingWhiteCar {
  0% {
    left: -20px;
    opacity: 1;
  }

  20% {
    left: 100%;
    opacity: 1;
  }

  20.001% {
    opacity: 0;
    left: 0;
  }

  100% {
    opacity: 0;
    left: 0;
  }
}

.yellowCar {
  animation: movingYellowCar 130s linear infinite;
  transform: translateY(10px);
}

@keyframes movingYellowCar {
  0% {
    right: 0;
    opacity: 1;
  }

  20% {
    right: 100%;
    opacity: 1;
  }

  20.001% {
    opacity: 0;
    right: 0;
  }

  100% {
    opacity: 0;
    right: 0;
  }
}